* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  display: flex;
  flex-direction: column;
  color: #000;
  font-size: 2rem;
  font-family: "Inter", sans-serif;
}
.btn:hover {
  opacity: 0.9;
}
/* ==============common========== */
a {
  text-decoration: none;
  color: var(--primary-color);
}
:root {
  --yellow-color: #f9d232;
  --heading-color: #c22b2b;
  --primary-color: #1d1d1f;
  --font-heading: "Merriweather", "serif";
  --Moderate-blue: hsl(238, 40%, 52%);
  --Light-grayish-blue: hsl(239, 57%, 85%);
  --Pale-red: hsl(357, 100%, 86%);

  --Dark-blue: hsl(212, 24%, 26%);
  --Grayish-Blue: hsl(211, 10%, 45%);
  --Light-gray: hsl(223, 19%, 93%);
  --Very-light-gray: hsl(228, 33%, 97%);
  --White: hsl(0, 0%, 100%);
}
/* =============header============ */

/* Kết thúc CSS phần header */
/* ===========body================== */
.article {
  display: flex;
  flex-direction: row;
  margin: 6.4rem 5% 0;
}
.content {
  flex: 4;
}
.tag {
  margin-bottom: 1rem;
}
.header-content .tag strong {
  font-size: 1.6rem;
  line-height: 0.18;
  font-weight: 500;
}
.content .main-content {
  width: 90%;
}
.main-content .news-title {
  font-family: var(--font-heading);
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.24; /* 123.81% */
  letter-spacing: -0.2px;
}
.news-detail {
  display: flex;
  margin-top: 1.2rem;
}
.news-detail .btn-save {
  margin-left: 3rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
#save-article-btn i {
  color: var(--heading-color);
}
.news-detail strong {
  color: var(--primary-color);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.6;
}
.news-detail p {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6; /* 22.4px */
}
.news-detail strong:nth-child(2) {
  margin-left: 3rem;
}
.news-body {
  margin-top: 2rem;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.8; /* 28.8px */
}
.news-body p {
  margin-bottom: 2rem;
}
.image {
  margin-bottom: 1rem;
}
.news-body img {
  width: 100%;
  border-radius: 0.2rem;
  object-fit: cover;
}
figcaption {
  font-size: 2rem;
  color: #5f5b53;
}
/* ==============tin xem nhiều ==================*/
.most-view {
  margin-top: 10rem;
  flex: 1.7;
}
.most-view h3 {
  font-size: 2.5rem;
  width: fit-content;
  padding-bottom: 5px;
  font-family: var(--font-heading);
  border-bottom: solid 1px var(--heading-color);
  font-weight: 600;
}
.article-image {
  flex: 0 0 200px;
  height: 120px;
  border-radius: 2px;
  overflow: hidden;
}

.article-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.news .n1 {
  padding-bottom: 20px;
  border-bottom: solid 0.5px #e1e8f0;
}
.news .n1 a {
  display: flex;
}
.most-view .news {
  width: auto;
}
.news .title {
  padding-left: 10px;
  font-size: 1.6rem;
  font-family: var(--font-heading);
  line-height: 1.2;
}
.news {
  margin-top: 2rem;
}
/* =================comment================ */
.eee .header {
  font-size: 2.5rem;
  width: fit-content;
  padding-bottom: 5px;
  font-family: var(--font-heading);
  border-bottom: solid 1px var(--heading-color);
  font-weight: 600;
  /* margin-bottom: 1rem; */
}

.comment p {
  line-height: 1.5;
}
.eee a {
  cursor: pointer;
  font-weight: 500;
}
button {
  cursor: pointer;
}
button:hover {
  filter: saturate(80%);
}
.bu-primary {
  font-size: 2rem;
  background-color: var(--heading-color);
  color: #fff;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
}
.comment .container,
.reply-input .container {
  margin-top: 0 !important;
  border-radius: 8px;
  padding: 1.5rem 0;
  background-color: var(--White);
}
.comments-wrp {
  display: flex;
  flex-direction: column;
}
.eee {
  margin: 6.4rem 5% 7.4rem;
}
.comment-section {
  /* max-width: 75ch; */
  /* margin: 6.4rem 5% 0 10%; */
  width: 70%;
  /* margin: auto; */
  margin-top: 1rem;
}
.comment {
  margin-bottom: 1rem;
  display: grid;
  grid-template-areas:
    "score user controls"
    "score comment comment"
    "score comment comment";
  grid-template-columns: auto 1fr auto;
  gap: 1.5rem;
  row-gap: 1rem;
  color: var(--Grayish-Blue);
}

.c-score {
  color: var(--primary-color);
  font-weight: 500;
  grid-area: score;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding: 1.2rem;
  width: 1rem;
  box-sizing: content-box;
  background-color: var(--Very-light-gray);
  border-radius: 8px;
  align-self: flex-start;
}
.eee i {
  color: var(--heading-color);
  font-size: 1.5rem;
  margin: 0;
}
.score-control {
  width: 100%;
  cursor: pointer;
  object-fit: scale-down;
}
.c-text {
  grid-area: comment;
  width: 100%;
}
.c-user {
  width: 100%;
  grid-area: user;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.usr-name {
  color: var(--Dark-blue);
  font-weight: 700;
}
.usr-img {
  height: 5rem;
  width: 5rem;
}

.c-controls {
  display: flex;
  gap: 3rem;
  color: var(--heading-color);
  grid-area: controls;
  align-self: center;
  justify-self: flex-end;
}
.c-controls a {
  align-items: center;
}
.cmnt-input::placeholder {
  font-size: 2rem;
  color: gray; /* Màu chữ */
  opacity: 1;
}
.delete,
.edit,
.reply {
  color: var(--Grayish-Blue);
}
.delete,
.edit {
  gap: 0.5rem;
  display: none;
}
.control-icon {
  margin-right: 0.5rem;
}

.replies {
  display: flex;
  margin-left: 2.5rem;
  padding-left: 2.4rem;
  border-left: 1px solid var(--Light-grayish-blue);
}
/* tên người dùng được reply */
.reply-to {
  color: var(--Moderate-blue);
  font-weight: 500;
}

.reply-input {
  display: grid;
  margin-bottom: 1rem;
  grid-template-areas: "avatar input button";
  grid-template-columns: min-content auto min-content;
  justify-items: center;
  gap: 1rem;
  min-height: 9rem;
}
.reply-input img {
  grid-area: avatar;
  height: 5.5rem;
  width: 5.5rem;
}
.reply-input button {
  grid-area: button;
  align-self: flex-start;
}
.reply-input textarea {
  grid-area: input;
  padding: 1rem;
  font-family: "Inter", sans-serif;
  line-height: 1.6;
  padding: 1rem;
  width: 100%;
  height: 10rem;
  border: 2px solid #ccc; /* Viền xám */
  border-radius: 0.5rem; /* Bo góc */
  font-size: 2rem;
  color: #333;
  background-color: #f9f9f9;
  resize: none;
}
.reply-input textarea:focus {
  outline: none; /* Bỏ viền xanh mặc định của trình duyệt */
}

.this-user .usr-name::after {
  font-weight: 400;
  content: "Bạn";
  color: var(--White);
  background-color: var(--heading-color);
  padding: 0 0.4rem;
  padding-bottom: 0.2rem;
  font-size: 2rem;
  margin-left: 0.5rem;
  border-radius: 2px;
}

.this-user .reply {
  display: none;
}
.this-user .edit,
.this-user .delete {
  display: flex;
}

@media screen and (max-width: 640px) {
  .container {
    padding: 0.75rem;
  }
  .replies {
    padding-left: 1rem;
    margin-left: 0.5rem;
  }
  .comment {
    grid-template-areas:
      "user user user"
      "comment comment comment"
      "score ... controls";

    gap: 0.5rem;
  }
  .c-score {
    flex-direction: row;
    width: auto;
  }
  .reply-input {
    grid-template-areas:
      "input input input"
      "avatar ... button";
    grid-template-rows: auto min-content;
    align-items: center;
    gap: 0.5rem;
  }
  .reply-input img {
    height: 2rem;
    width: 2rem;
  }
  .reply-input textarea {
    height: 6rem;
    padding: 0.5rem;
    align-self: stretch;
  }
}

.modal-wrp {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal {
  padding: 1.5rem;
  max-width: 32ch;
  display: grid;
  gap: 1rem;
  grid-template-areas:
    "heading heading"
    "body body"
    "no yes";
}

.invisible {
  display: none;
}

.modal h3 {
  grid-area: heading;
  color: var(--primary-color);
}
.modal button {
  font-size: 1.5rem;
  color: var(--White);
  padding: 0.75rem;
  border-radius: 8px;
  border: none;
  font-weight: 500;
}
.modal p {
  grid-area: body;
  color: var(--Grayish-Blue);
  line-height: 1.5;
}
.modal .yes {
  grid-area: yes;
  background-color: var(--heading-color);
}
.modal .no {
  background-color: var(--Grayish-Blue);
  grid-area: no;
}

/* =================== footer ================ */

/* ============comment======================== */
.social-share {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  margin: 2rem;
  float: right;
  font-weight: 600;
  gap: 1rem;
}
.social-share img {
  width: 3rem;
}
.hashtag-container {
  display: flex;
  flex-wrap: wrap; /* Cho xuống dòng tự động */
  gap: 8px; /* Khoảng cách giữa các hashtag */
  padding: 10px 0;
}

.hashtag {
  background-color: #eee; /* Nền xám nhạt */
  color: #333; /* Màu chữ đậm */
  padding: 6px 12px;
  border-radius: 6px; /* Bo góc */
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.hashtag:hover {
  background-color: #ddd; /* Hover màu đậm hơn 1 chút */
}
