/* PC */
@media (min-width: 992px) {
}
/* Tablet & mobile */
/* @media (max-width: 991.98px) {
  .nav {
    padding: 0 3%;
  }
  .nav.scrolled .navbar a {
    padding: 2rem 2vw;
  }
  .nav.scrolled {
    transition: 0.3s;
    padding: 0 3%;
  }
} */
/* Tablet  */
@media (min-width: 768px) and (max-width: 991.98px) {
  .main-body {
    padding-top: 5rem;
  }
  .article {
    flex-direction: column;
  }
  .nav {
    width: 100%;
    max-width: 100vw;
    position: fixed;
    padding: 0rem 5%;
  }
  .nav div:nth-child(3) {
    margin-left: 20rem; /* Khoảng cách 20px giữa các div */
  }
  #menu-icon {
    display: block !important;
  }
  header {
    display: none;
  }
  .nav .home {
    display: none;
  }
  #backtohome {
    display: block;
  }
  .category {
    align-items: center;
  }
  .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    background: var(--heading-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 2px;
    transition: all 0.5s ease;
  }
  .main-category {
    width: 180px;
  }
  .category {
    font-size: 1.6rem !important;
  }
  .navbar a {
    font-size: 1.6rem;
    color: #fff;
    font-weight: 400;
    display: block;
    transition: all 0.5s ease;
  }
  .navbar a:hover {
    color: #fff;
    font-weight: 600;
  }
  .navbar.open {
    right: 0%;
  }
  .main-category:hover .subnav {
    right: 100%;
    width: 150px;
    top: 0;
  }
  .subnav {
    position: absolute;
    right: 100%;
  }
  .subnav a {
    color: #000;
    font-size: 1.6rem !important;
  }
  .subnav a:hover {
    font-weight: 600;
  }
  .dn-text {
    font-size: 1.6rem;
    font-weight: 600;
  }
  .search:hover input {
    width: 20rem;
  }
  figcaption {
    font-size: 1.4rem;
    color: #5f5b53;
  }
  .content .main-content {
    width: 100%;
  }
  .main-content .news-title {
    font-family: var(--font-heading);
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.2px;
  }
  .news-body {
    margin-top: 2rem;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.8;
  }
  .most-view h3 {
    font-size: 2rem;
    width: fit-content;
    padding-bottom: 5px;
    font-family: var(--font-heading);
    border-bottom: solid 1px var(--heading-color);
    font-weight: 0;
  }
  .most-view img {
    width: 150px;
    height: 60px;
    object-fit: cover;
  }
  .news .title {
    padding-left: 10px;
    font-size: 1rem;
    font-family: var(--font-heading);
    font-weight: 400;
  }
  .footer {
    padding: 6% 5% 0;
  }
  .footer img {
    height: 30%;
  }
  .footer .desc {
    font-size: 1.2rem;
    font-weight: 600;
  }
  .footer .title {
    font-size: 1.4rem;
  }
  .footer .list a {
    font-size: 1.2rem;
  }
  .footer .copyright {
    font-size: 1.4rem;
  }
}
/* Mobile */
@media (max-width: 767.98px) {
  .main-body {
    padding-top: 5rem;
  }
  .article {
    flex-direction: column;
  }
  .nav {
    width: 100%;
    max-width: 100vw;
    position: fixed;
    padding: 0rem 5%;
  }
  .nav.scrolled {
    position: fixed;
    padding: 0rem 5%;
  }
  .register {
    gap: 50px;
  }
  #menu-icon {
    display: block !important;
  }
  header {
    display: none;
  }
  .nav .home {
    display: none;
  }
  #backtohome {
    display: block;
  }
  .nav.scrolled .navbar a {
    padding: 11px 25px;
  }
  .navbar {
    padding: 0 20px;
    position: absolute;
    top: 100%;
    right: -100%;
    background: var(--heading-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 2px;
    transition: all 0.5s ease;
  }
  .navbar a {
    color: #fff;
    font-weight: 400;
    display: block;
    transition: all 0.5s ease;
  }
  .navbar a:hover {
    color: #fff;
    font-weight: 600;
  }
  .navbar.open {
    right: 2%;
  }
  .main-category:hover .subnav {
    right: 100%;
    width: 150px;
    top: 0;
  }
  .subnav a {
    color: #000;
  }
  .subnav a:hover {
    font-weight: 600;
  }
  .dn-text {
    font-size: 1.6rem;
  }
  .search:hover input {
    width: 7rem;
  }
  .cmt-input {
    gap: 1rem;
  }
  .cmt-input .user-ava {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 0.5px solid #5f5b53;
  }
  .cmt-input .area {
    font-family: "Inter", sans-serif;
    line-height: 1;
    letter-spacing: 1px;
    padding: 1rem;
    width: 80%;
    height: 7rem;
    border: 1.5px solid #ccc; /* Viền xám */
    border-radius: 0.5rem; /* Bo góc */
    font-size: 1.4rem;
    color: #333;
    background-color: #f9f9f9;
    resize: none;
  }
  .comment-section .btn-sent {
    font-size: 1.4rem;
    width: 6rem;
    height: 3rem;
    border-radius: 0.5rem;
    font-weight: 400;
    cursor: pointer;
  }
}
