<footer class="footer">
  <div class="main-content">
    <div class="row">
      <!-- column1 -->
      <div class="column">
        <img
          src="../assets/img/gio-outsider.png"
          alt="The Outsider"
          class="logo"
        />

        <p class="desc" id="footer-slogan">Tin tức thế giới, nhanh hơn một nhịp</p>

        <div class="social">
          <a href="">
            <i class="fa-brands fa-facebook"></i>
          </a>
          <a href="">
            <i class="fa-brands fa-instagram"></i>
          </a>
          <a href="">
            <i class="fa-brands fa-x-twitter"></i>
          </a>
          <a href="">
            <i class="fa-brands fa-linkedin"></i>
          </a>
        </div>
      </div>
      <!-- column 2 -->
      <div class="column">
        <h3 class="title">Về chúng tôi</h3>
        <ul class="list">
          <li>
            <a href="#!">Tầm nhìn</a>
          </li>
          <li>
            <a href="#!">Sứ mệnh</a>
          </li>
          <li>
            <a href="#!">Mục tiêu</a>
          </li>
        </ul>
      </div>
      <!-- column 3 -->
      <div class="column">
        <h3 class="title">Hợp pháp</h3>
        <ul class="list">
          <li>
            <a href="#!">Chính sách bảo mật</a>
          </li>
          <li>
            <a href="#!">Điều khoản sử dụng</a>
          </li>
          <li>
            <a href="#!">Tùy chọn quảng cáo</a>
          </li>
        </ul>
      </div>
      <!-- column 4 -->
      <div class="column">
        <h3 class="title">Liên hệ</h3>
        <ul class="list">
          <li>
            <a href="#!" id="footer-address"
              ><strong>Location:</strong> 27 Trần Phú, Hà Đông, Hà Nội</a
            >
          </li>
          <li>
            <a href="#!" id="footer-email"><strong>Email:</strong> email@gmail.com</a>
          </li>
          <li>
            <a href="#!" id="footer-phone"><strong>Phone:</strong> + 000 1234 567 890</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="copyright">
      <p>Copyright ©2025 toàn bộ bản quyền thuộc nhóm 5</p>
    </div>
  </div>
</footer>
