footer {
  z-index: 1000;
  width: 100%;
  background: var(--heading-color);
  padding: 5% 10% 0;
}
/* .footer .main-content {
      padding: 6% 10% 0;
    } */
.footer img {
  width: auto;
  height: 30%;
  object-fit: cover;
}
.footer .row {
  /* padding-bottom: 38px; */
  border-bottom: 1px solid var(--yellow-color);
  display: flex;
  justify-content: space-between;
}

.footer .row .column {
  width: 21.6%;
}

.footer .row .column:first-child {
  width: 35%;
}

.footer .desc {
  margin-top: 15px;
  max-width: 35rem;
  color: #fff;
  font-size: 2rem;
  line-height: 1.86;
  font-weight: 600;
}

.footer .social {
  display: flex;
  gap: 18px;
  margin-top: 18px;
}

.footer .title {
  padding-bottom: 14px;
  padding-right: 48px;
  display: inline-block;
  border-bottom: 1px solid var(--yellow-color);
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.75;
}

.footer .list {
  margin-top: 28px;
}

.footer .list a {
  display: inline-block;
  margin-bottom: 12px;
  color: #fff;
  font-size: 1.6rem;
  line-height: 1.86;
}
.footer .list a:hover {
  font-weight: 800;
}
.footer .list li:last-child a {
  margin-bottom: 0;
}

.footer .list strong {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.86;
}

.footer .copyright {
  padding: 28px 0;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.86;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .footer {
    padding: 6% 5% 0;
  }
  .footer img {
    height: 30%;
  }
  .footer .desc {
    font-size: 1.2rem;
    font-weight: 600;
  }
  .footer .title {
    font-size: 1.4rem;
  }
  .footer .list a {
    font-size: 1.2rem;
  }
  .footer .copyright {
    font-size: 1.4rem;
  }
}
