@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");
:root {
  font-family: "Inter", sans-serif;
  --font-title: "Merriweather", sans-serif;
  --border-color: #c22b22;
  --font-color: #1d1d1f;
}

body {
  margin: 0;
  height: 284.125rem;
}

.main {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.main .main-body {
  position: relative;
  width: 100%;
  height: 500px;
  background-image: url(https://kenh14cdn.com/203336854389633024/2025/3/21/thiet-ke-chua-co-ten-3-1742525718858771545080-1742527833078-17425278337191985759791.png);
  background-size: cover;
  background-position: center;
}

.main .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
}

.main .content h1 {
  position: absolute;
  top: 50%;
  left: 10%;
  color: white;
  font-family: var(--font-title);
  font-size: 3rem;
  font-weight: bold;
}

.main .main-container {
  width: 90%;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}

.main .main-container .body-container {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.main .main-container-body {
  width: 90%;
  height: 150rem;
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* background-color: #EBEEF3; */
}

.main .main-container-body .title {
  width: 100%;
  height: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  border-bottom: 0.2rem solid #c22b22;
}

.main .main-container-body .title h1{
  font-family: var(--font-title);
}


.main .main-container-body .title .list-topic {
  padding-left: 2.5rem;
  margin-top: 1.1%;
  display: flex;
  align-items: center;
  list-style: none;
  font-family: var(--font-title);
}

.main .main-container-body .title .list-topic .single {
  padding-right: 2rem;
}

.main .main-container-body .title .list-topic .page {
  text-decoration: none;
}

.main .main-container-body .title .list-topic .page h1 {
  font-size: 1.125rem;
  color: #262626;
}

.main .main-container-body .main-topic {
  margin-top: 3%;
  width: 100%;
  height: 100%;  
  display: flex;
  justify-content: center;
}

.main .main-container-body .main-topic .l-main {
  width: 90%;
  height: fit-content;
  border-right: 0.05rem solid #c22b22;
  display: flex;
  flex-direction: column;
}
.main .main-container-body .main-topic .l-main .articles {
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
} 
.main .main-container-body .main-topic .l-main .articles .articles-trend {
  width: 98%;
  height: 77vh;
  /* margin-bottom: %; */
  padding-bottom: 5%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 0.05rem solid #c22b22;
}
.main .main-container .main-container-body .main-topic .l-main .articles .articles-trend .l-trending{
  width: 70%;
  height: 100%;
}

.main .main-container .main-container-body .main-topic .l-main .articles .articles-trend .l-trending .l-body{
  width: 100%;
  height: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main .main-container .main-container-body .main-topic .l-main .articles .articles-trend .l-trending .l-body .l-img img {
  width: 100%;
  height: 100%; 
  object-fit: cover;
}

.main .main-container .main-container-body .main-topic .l-main .articles .articles-trend .l-trending .l-body .l-content {
  width: 100%;
  height: 100%;
  text-decoration: none;
  margin: 1% 0 0 0;
  text-align: center;
  color: var(--font-color);
}
.main .main-container .main-container-body .main-topic .l-main .articles .articles-trend .l-trending .l-body .l-content h3 {
  font-size: 1.7rem;
  line-height: 1.4;
  font-family: var(--font-title);
  margin-bottom: 0.5%;
}
.main .main-container .main-container-body .main-topic .l-main .articles .articles-trend .l-trending .l-body .l-content .p1 {
  font-size: 1.2rem;
  line-height: 1.4;
  margin-bottom: 1%;
}

.main .main-container .main-container-body .main-topic .l-main .articles .articles-trend .r-trending{
  width: 27%;
  height: 100%;
  display: flex;
  /* justify-content: center; */
  margin-left: 3%;
}
.main .main-container .main-container-body .main-topic .l-main .articles .articles-trend .scroll-div {
  width: 100%;
  height: 100%;
  /* display: flex; */
  overflow-y: scroll;
  /* direction: rtl; */
}

.main .main-container .main-container-body .main-topic .l-main .articles .articles-trend .scroll-div .trend-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.scroll-div::-webkit-scrollbar {
  width: 4px !important;
  background-color: transparent !important;
  padding-right: 10px !important;
}

.scroll-div::-webkit-scrollbar-thumb {
  background-color: #f9d232 !important;
  border-radius: 0px !important;
}


.main .main-container .main-container-body .main-topic .l-main .articles .articles-trend .scroll-div .trend-list .trend-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10%;
  padding-bottom: 5%;
  border-bottom: 0.05rem solid #c22b22;
} 

/* .main .main-container .main-container-body .main-topic .l-main .articles .articles-trend .scroll-div .trend-list .trend-container :last-child{
  margin-bottom: none;
} */

.main .main-container .main-container-body .main-topic .l-main .articles .articles-trend .scroll-div .trend-list .trend-container .trend-words{
  width: 100%;
  text-decoration: none;
  color: var(--font-color);
} 
.main .main-container .main-container-body .main-topic .l-main .articles .articles-trend .scroll-div .trend-list .trend-container .trend-words h3{
  width: 100%;
  text-decoration: none;
  color: var(--font-color);
  font-family: var(--font-title);
  margin-bottom: 1%;
  line-height: 1.4;
} 
.main .main-container .main-container-body .main-topic .l-main .articles .articles-trend .scroll-div .trend-list .trend-container .trend-words .trend-content{
  width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden; /* Cắt nội dung dư thừa */
  text-overflow: ellipsis;
  line-height: 1.4;
  max-height: 4.2em;
} 

.main .main-container-body .main-topic .l-main .one-article {
  width: 98%;
  height: fit-content;
  display: flex;
  justify-content: flex-start;
  border-bottom: 0.1rem solid #b8c2ce;
  /* margin-bottom: 3%; */
  margin-top: 2%;
  padding-bottom: 2%;
}
.main .main-container-body .main-topic .l-main .one-article .article-image {
  width: 30%;
}

.main .main-container-body .main-topic .l-main .one-article .article-title {
  width: 100%;
  padding-left: 2%;
  margin: 0;
  text-decoration: none;
  color: #262626;
  display: flex;
  flex-direction: column;
}
.main .main-container-body .main-topic .l-main .one-article .article-title h3 {
  font-size: 1.425rem;
  margin: 0;
  display: block;
  margin-bottom: 1%;
}
.main .main-container-body .main-topic .l-main .one-article .article-title p {
  font-size: 1rem;
  margin-bottom: 0;
  padding-bottom: 10px;
}



.ar-cmt {
  /* width: 5px; */
  display: inline;
  color: #1d1d1f;
  font-size: 13px;
  display: flex;
  align-items: center;
}

.ar-cmt .material-icons{
  font-size: 15px;
  color: #f9d232;
  padding-right: 5px;
}

.ar-cmt2 {
  /* width: 5px; */
  padding-top: 6.5%;
  display: inline;
  color: #1d1d1f;
}

.ar-cmt2 .material-icons{
  font-size: 15px;
  color: #f9d232;
  padding-right: 5px;
}

.ar-cmt2 .ar-time{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ar-cmt2 .ar-time .ar-item{
  display: flex;
  align-items: center;
  color: #1d1d1f;
  font-size: 15px;
}


.main .main-container-body .main-topic .l-main .l-main-button {
  margin-top: 2%;
  width: 30%;
  height: 2rem;
  display: flex;
  justify-content: space-between;
}
.main .main-container-body .main-topic .l-main .l-main-button .page {
  width: 10%;
  border: 0.05rem solid #b8c2ce;
  border-radius: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #1d1d1f;
}
.main .main-container-body .r-main {
  width: 30%;
  height: 100%;
  display: flex;
  margin-left: 1.5%;
  flex-wrap: wrap;
}

.main .main-container-body .r-main .r-main-header {
  width: fit-content;
  height: 1.25%;
  text-decoration: none;
  border-bottom: 0.15rem solid #c22b22;
  margin-bottom: 2.5%;
}
.main .main-container-body .r-main .r-main-header h2 {
  padding: 0;
  margin: 0;
  color: #262626;
  font-family: var(--font-title);
  font-weight: bold;
}

.main .main-container-body .r-main .r-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  width: 90%;
  height: 25%;
}
.main .main-container-body .r-main .r-list .first {
  margin-bottom: 5%;
  border-bottom: 0.1rem solid #b8c2ce;
  height: 44%;
}
.main .main-container-body .r-main .r-list .first .first-image {
  width: 100%;
}

.main .main-container-body .r-main .r-list .first .first-image img {
  width: 100%;
  margin-bottom: 2%;
}
.main .main-container-body .r-main .r-list .first .first-title {
  text-decoration: none;
}
.main .main-container-body .r-main .r-list .first .first-title h4 {
  color: #262626;
  margin: 0;
  display: inline;
}
.main .main-container-body .r-main .r-list .first .first-title .f-cmt {
  display: inline;
}
.main .main-container-body .r-main .r-list .second {
  margin-bottom: 5%;
  border-bottom: 0.1rem solid #b8c2ce;
  height: 8%;
}
.main .main-container-body .r-main .r-list .second .second-title {
  text-decoration: none;
}
.main .main-container-body .r-main .r-list .second .second-title h4 {
  color: #262626;
  margin: 0;
  display: inline;
}
.main .main-container-body .r-main .r-list .second .second-title .f-cmt {
  display: inline;
}

h1{
  font-weight: bold;
  font-size: 36px;
}

h3,h2,h4{
  font-weight: bold;
}

h2{
  font-size: 24px;
}