<header class="header fixed">
  <div class="header banner">
    <img
      src="../assets/img/gio-outsider-red.png"
      alt="the outsider"
      class="banner-logo"
    />
  </div>
</header>
<div class="nav">
  <div id="backtohome">
    <a href="../pages/index.html">
      <img class="logo" src="../assets/img/gio-outsider.png" alt="" />
    </a>
  </div>
  <a href="../pages/index.html" class="home">
    <i class="fa-solid fa-house"></i>
  </a>
  <div class="contain-navbar">
    <ul class="navbar">
      <li class="main-category">
        <a href="#!" class="category">Phim ảnh</a>
        <ul class="subnav">
          <li><a class="subnav-link" href="#">Phim chiếu rạp</a></li>
          <li><a class="subnav-link" href="#">Phim Việt Nam</a></li>
          <li><a class="subnav-link" href="#">Phim truyền hình</a></li>
          <li><a class="subnav-link" href="#">Phim quốc tế</a></li>
        </ul>
      </li>
      <li class="main-category">
        <a href="#!" class="category">Âm nhạc</a>
        <ul class="subnav">
          <li><a class="subnav-link" href="#">US-UK</a></li>
          <li><a class="subnav-link" href="#">Châu Á</a></li>
          <li><a class="subnav-link" href="#">Việt Nam</a></li>
        </ul>
      </li>
      <li class="main-category">
        <a href="../pages/topic.html" class="category">Beauty & Fashion</a>
        <ul class="subnav">
          <li><a class="subnav-link" href="#">Trending</a></li>
          <li><a class="subnav-link" href="#">Thời trang</a></li>
          <li><a class="subnav-link" href="#">Làm đẹp</a></li>
          <li><a class="subnav-link" href="#">Phong cách</a></li>
        </ul>
      </li>
      <li class="main-category">
        <a href="#!" class="category">Đời sống</a>
        <ul class="subnav">
          <li><a class="subnav-link" href="#">Soi sao</a></li>
          <li><a class="subnav-link" href="#">Sống xanh</a></li>
        </ul>
      </li>
      <li class="main-category">
        <a href="#!" class="category">Xã hội</a>
        <ul class="subnav">
          <li><a class="subnav-link" href="#">Điểm nóng</a></li>
          <li><a class="subnav-link" href="#">Pháp luật</a></li>
          <li><a class="subnav-link" href="#">Thế giới đó đây</a></li>
        </ul>
      </li>
      <li class="main-category">
        <a href="../pages/user-profile.html" class="category">Sức khỏe</a>
        <ul class="subnav">
          <li><a class="subnav-link" href="#">Dinh dưỡng</a></li>
          <li><a class="subnav-link" href="#">Khỏe đẹp</a></li>
          <li><a class="subnav-link" href="#">Giới tính</a></li>
          <li><a class="subnav-link" href="#">Các bệnh</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="search">
    <input type="text" placeholder="Tìm kiếm..." />
    <a href="../pages/search.html">
      <i class="fa-solid fa-magnifying-glass"> </i>
    </a>
  </div>
  <div class="register">
    <!-- Hiển thị khi chưa đăng nhập -->
    <a href="../pages/login.html" class="dn-text" id="login-link">
      <i class="fa-solid fa-user"></i>Đăng nhập
    </a>

    <!-- Hiển thị khi đã đăng nhập -->
    <div class="user-info" style="display: none">
      <a href="../pages/user-profile.html">
        <i class="fa-solid fa-user"></i>
        <span class="username"></span>
      </a>
    </div>
  </div>
  <div id="menu-icon"><i class="fa-solid fa-bars"></i></div>
</div>
